<form action="/dogs/<%= @dog.id %>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
  <input type="hidden" name="_method" value="put"/>
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @dog.name %>"/>
  <label for="name">Breed:</label>
  <input type="text" name="breed" value="<%= @dog.breed %>"/>
  <button type="submit">Edit Dog</button>
</form>