<a href="/dogs/new">Create Dog</a>
<table>
  <% @dog.each do |attributes| %>
    <tr>
      <td>Name: <a href="/dogs/<%= attributes.id %>"><%= attributes.name %></a></td>
      <td>Breed: <%= attributes.breed %></td>
    </tr>
  <% end %>
</table>